.tagsWrapper{
    display: flex;
    justify-content: center;
}

.card{
    border: solid black 1px;
    width: 18rem;
    color: black;
    height: 40rem;
    margin: 10px;
    padding: 5px;
}

.cardDeck{
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.social{
    display: inline-flex;
    margin-top:25px;
}

.social a{
    left: 10px;
    margin:2px;
}

.column{
    text-align: left;
    justify-content: center;
}

.column img{
    margin-left: 4.5rem;
}
.column2{
    text-align: left;
}